.saveExercise {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  font-weight: 500;
}

.saveExerciseDiv {
  position: absolute;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.plus_set {
  margin-top: 5px;
  background-image: url("../img/plus2.png");
  background-size: 20px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.exercise_delete {
  width: 25px;
  height: 25px;
  background-image: url("../img/delete.png");
  background-size: 25px;
}

.reps_input {
  width: 30px;
  margin-right: 5px;
}
